body {
    background: #FCF8E8;
}

h1{
    font-family: 'Handlee', cursive;
    text-align: center;
    color: #D54079;
    font-size: 3rem;

}

h2{
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: #D54079;
    font-size: 1rem;
    margin: 5px 0 5px 0;
}

canvas {
    border: 3px solid #D54079;
}

.canvas-container{
    display: flex;
    justify-content: center;
}

.name-container{
    display: flex;
    align-items: flex-end;
    margin: 15px 0 5px 5px;
}
